<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.4">
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/utils/src/main/java/org.katta.labs.java.utils/ClassUtil.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/utils/src/main/java/org.katta.labs.java.utils/Scratchpad.java">
<error line="9" column="5" severity="error" message="Method length is 6 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/utils/src/main/java/org.katta.labs.java.utils/StringUtil.java">
<error line="16" column="5" severity="error" message="Method length is 17 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/spring/src/main/java/org/katta/labs/java/spring/MyApplicationContext.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/validation/src/main/java/org/katta/labs/java/validation/ValidationError.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/validation/src/main/java/org/katta/labs/java/validation/ValidationErrors.java">
<error line="11" column="5" severity="error" message="Method length is 6 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/validation/src/main/java/org/katta/labs/java/validation/validator/NotNullOrEmptyValidator.java">
<error line="14" column="5" severity="error" message="Method length is 10 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/validation/src/main/java/org/katta/labs/java/validation/validator/NotNullValidator.java">
<error line="7" column="5" severity="error" message="Method length is 8 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/validation/src/main/java/org/katta/labs/java/validation/Validator.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/concurrency/src/main/java/org/katta/labs/concurrency/BatchExecutor.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/concurrency/src/main/java/org/katta/labs/concurrency/Job.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/concurrency/src/main/java/org/katta/labs/concurrency/MyJob.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/struts2/src/main/java/org/katta/labs/struts2/action/AddressAction.java">
<error line="16" column="5" severity="error" message="Method length is 10 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/struts2/src/main/java/org/katta/labs/struts2/action/LookupAction.java">
<error line="18" column="5" severity="error" message="Method length is 8 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/struts2/src/main/java/org/katta/labs/struts2/model/EmailAddress.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/check/Check.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/check/Checks.java">
<error line="29" column="5" severity="error" message="Method length is 8 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="39" column="5" severity="error" message="Method length is 7 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/check/MethodLengthCheck.java">
<error line="14" column="5" severity="error" message="Method length is 12 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/check/ParameterNumberCheck.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/domain/Category.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/domain/Checkstyle.java">
<error line="18" column="5" severity="error" message="Method length is 6 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="33" column="5" severity="error" message="Method length is 8 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/domain/CheckstyleError.java">
<error line="73" column="5" severity="error" message="Method length is 10 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/domain/CheckstyleErrors.java">
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/domain/CheckstyleFile.java">
<error line="20" column="5" severity="error" message="Method length is 6 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="35" column="5" severity="error" message="Method length is 10 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="50" column="5" severity="error" message="Method length is 10 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="61" column="5" severity="error" message="Method length is 6 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/domain/CheckstyleFiles.java">
<error line="11" column="5" severity="error" message="Method length is 8 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/domain/Toxicity.java">
<error line="17" column="5" severity="error" message="Method length is 6 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/todelete/SomeClass.java">
<error line="5" column="5" severity="error" message="Method length is 15 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="12" column="21" severity="error" message="Nested if-else depth is 3 (max allowed is 2)." source="com.puppycrawl.tools.checkstyle.checks.coding.NestedIfDepthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/ToxicityCalculator.java">
<error line="16" column="5" severity="error" message="Method length is 7 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="24" column="5" severity="error" message="Method length is 16 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/util/JAXBUtil.java">
<error line="9" column="5" severity="error" message="Method length is 13 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
<file name="/Users/srivatsa/workspace/labs/java/mavenapp/metrics/src/main/java/org/katta/labs/metrics/toxicity/util/StringUtil.java">
<error line="11" column="5" severity="error" message="Method length is 9 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
<error line="21" column="5" severity="error" message="Method length is 19 lines (max allowed is 5)." source="com.puppycrawl.tools.checkstyle.checks.sizes.MethodLengthCheck"/>
</file>
</checkstyle>
